.DS_Store
*/.DS_Store
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/Chinese-LLaMA-Alpaca.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
